/* 
https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_perspective2
https://www.w3schools.com/css/css3_animations.asp
*/
html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    background-color: #afafaf;
    transform-style: preserve-3d;
    perspective: 800;
    perspective-origin: center top;
}

.cube {
    position: absolute;
    transform-style: preserve-3d;
    perspective: 800;
    transform-style: preserve-3d;
    left: 50%;
    top: 50%;
    transform: rotateX(147deg) rotateY(34deg);
}

.cube div {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    position: absolute;
    border: 1px solid black;

}

.cube div:nth-child(1) {
    background-color: yellow;
    transform: rotateX(90deg) translate3d(0, 0, 15px);
}

.cube div:nth-child(2) {
    background-color: purple;
    transform: rotate(-90deg) translate3d(0, 0, -15px);
}

.cube div:nth-child(3) {
    background-color: red;
    transform: rotateY(90deg) translate3d(0, 0, 15px);
}

.cube div:nth-child(4) {
    background-color: blue;
    transform: rotateY(-90deg) translate3d(0, 0, 15px);
}

.cube div:nth-child(5) {
    background-color: green;
    transform: translate3d(0, 0, 15px);
}

.cube div:nth-child(6) {
    background-color: cyan;
    transform: rotateX(90deg) translate3d(0, 0, -28px);
}

.cube div:nth-child(6){
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
/* animation */

@keyframes move {
    from {
        background-color: cyan;
        transform: rotateX(90deg) translate3d(0, 0, -28px);
    }

    to {
        background-color: rgba(0, 255, 255, 0.253);

        transform: rotateX(90deg) translate3d(0, 0, -15px);
    }

}